<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6947513243604" version="0.0.1">
  <name>jianyan2</name>  
  <description/>  
  <author email="ygangw186@163.com" href="http://www.apicloud.com">wyg186</author>  
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>  
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>  
  <preference name="hScrollBarEnabled" value="true"/>  
  <preference name="vScrollBarEnabled" value="true"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="false"/>  
  <preference name="debug" value="true"/>  
  <preference name="statusBarAppearance" value="false"/>  
  <preference name="softInputMode" value="resize"/>  
  <preference name="backgroundMode" value="location"/>  
  <permission name="readPhoneState"/>  
  <permission name="camera"/>  
  <permission name="record"/>  
  <permission name="location"/>  
  <permission name="fileSystem"/>  
  <permission name="internet"/>  
  <permission name="bootCompleted"/>  
  <permission name="hardware"/>

  <access origin="*"/>
  <feature name="baiduLocation">
    <param name="apiKey" value="WoCQ2796XXyrHr0P81nDA6yoYUUEifdW" />
  </feature>
  <feature name="baiduMap">
    <param name="android_api_key" value="WoCQ2796XXyrHr0P81nDA6yoYUUEifdW" />
    <param name="ios_api_key" value="fef72715gshjelke" />
  </feature>
  <!--<feature name="bMap"> -->
    <!--<param name="android_api_key" value="WoCQ2796XXyrHr0P81nDA6yoYUUEifdW"/>-->
    <!--<param name="ios_api_key" value="IMuosliw0L4vQ7jwkKLgPOSY"/> -->
  <!--</feature>  -->
  <feature name="qq"> 
    <param name="urlScheme" value="tencent1106029097"/>
    <param name="apiKey" value="1106029097"/>
  </feature>  
  <feature name="wx">
    <param name="urlScheme" value="wx3b81912c34039cbb"/>
    <param name="apiKey" value="wx3b81912c34039cbb"/>
    <param name="apiSecret" value="945e101791cd3eb78a06a5672188aeb6"/>
  </feature>

  <feature name="smsVerify">
    <param name="android_app_key" value="1d11620fb6840"/>
    <param name="android_app_secret" value="4bcab7f43a29fd13cb7788cfd4184d50"/>
  </feature>
</widget>
