body{
	margin:0px;
	padding:0px;
	background:#f3f5f4;
	height:100%;
}

.boxk{
	width:100%;
	height:15px;
}
.weva{
	width:100%;
	height:40px;
	line-height:40px;
	border-top:2px solid #e5e5e5;
	background:#ffffff;
}
.weva span{
	margin-left:25px;
}
.wevab{
	width:100%;
	border-top:2px solid #e5e5e5;
	background:#ffffff;
	position:relative;
}
.wevabt{
	width:100%;
	height:40px;
	line-height:40px;
}
.wevabtb{
	width:100%;
}

.wevabtt{
	float:left;
	margin-left:30px;
}
.wevabt img{
	margin:5px 5px 0 0;
}
.wevabtb1{
	width:100px;
	height:40px;
	line-height:40px;
	margin-left:30px;
}
.wevabtb textarea{
	width:220px;
	height:100px;
	margin-left:50px;
	resize: none;
}

.tjpj{
	position:absolute;
	bottom:80px;
}